  
<div class="leftpanelinner" style="display:none;">    
  <ul id="main_nav" class="nav nav-pills nav-stacked nav-bracket">
    <div class="spacer"></div><hr>
    <li id="realtime" class="nav-toggle">
        <a id="btn-viewrt" class="btn-nav white-text" data-link="REALTIME" data-set="realtime" data-toggle="tooltip" data-container="body" data-placement="right" title="Real-time Dashboard" href="javascript:;">
            <i class="fa fa-clock-o"></i>
        </a>
    </li>
    <li id="detailed" class="nav-toggle">
        <a id="btn-viewdetails" class="btn-nav white-text" data-link="DETAILED" data-set="historical" data-toggle="tooltip" data-container="body" data-placement="right" title="Detailed View" href="javascript:;">
            <i class="fa fa-history"></i>
        </a>
    </li>
    <li id="ipstart" class="nav-toggle">
        <a id="btn-viewip" class="btn-nav white-text" data-link="IPSTART" data-set="ipintel" data-toggle="tooltip" data-container="body" data-placement="right" title="IP Intelligence" href="javascript:;">
            <i class="fa fa-lightbulb-o"></i>
        </a>
    </li>
    <hr>
    <li>
        <a id="btn-config" class="btn-nav white-text" data-link="CONFIGURE" data-toggle="tooltip" data-container="body" data-placement="right" title="Configure" href="javascript:;">
            <i class="fa fa-cogs"></i>
        </a>
    </li>
    <li>
        <a id="btn-edit" class="white-text" data-toggle="tooltip" data-container="body" data-placement="right" title="Add or Remove Accounts" href="javascript:;">
            <i class="fa fa-edit"></i>
        </a>
    </li>
    <li>
        <a id="btn-export" class="white-text" data-toggle="tooltip" data-container="body" data-placement="right" title="Export Current View" href="javascript:;">
            <i class="fa fa-file-pdf-o"></i>
        </a>
    </li>
    <hr>
    <li>
        <a id="btn-clearfilters" class="btn btn-danger" data-toggle="tooltip" data-container="body" data-placement="right" title="Clear All Filters" href="javascript:;">
            <i class="fa fa-refresh"></i>
        </a>
    </li>
  </ul>
</div>